.finaly{
  color: #000000;
}

.finaly__header{
  margin-top: 265px;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 37px;
  text-align: center;
  text-transform: uppercase;
  max-width: 284px;
  margin-bottom: 15px;
}

.finaly__subheader {
  max-width: 284px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}