*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
}

@import url('./components/App/App.css');
@import url('./components/Banner/banner.css');
@import url('./components/Promo/promo.css');
@import url('./components/NumberZone/numberzone.css');
@import url('./components/Finaly/finaly.css');